      <!-- Single Event Page -->
<nav class="col-2 bg-light homepage p-2">
  <h2> Navigation </h2>
  <button type="button" class="btn btn-secondary m-2" id="logout">Log Out</button>
  <br>
<!-- cancel event -->
  <button type="button" class="btn btn-secondary" id="cancel">Cancel Event</button>
  <button type="button" class="btn btn-secondary m-2"><a href="/invite">Send Invites</a></button>
</nav>
<div class="col text-light p-2">
    <h2>{{event.title}}</h2>
    <p>{{event.description}}</p>
    <h3>Date</h3>
    <p>{{event.dates}}</p>
    <h3>Location</h3>
    <p>{{event.location}}</p>
    <h3>Attendees</h3>
      <div class="d-flex justify-content-center m-4">
        <ol>
          {{#each event.users as |users|}} 
          <li>{{users.username}}</li> 
          {{/each}}
        </ol>
      </div>
    <h3>Capacity</h3>
    <p>{{event.capacity}}</p>
</div>
  <aside class="col-2 bg-light homepage p-2">
    <h2>My RSVPs</h2>
  </aside>
        <script src='/js/logout.js'></script>
        <script src="/js/cancel.js"></script>
      <!-- end Single Event Page -->
